body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 80px;
    z-index: 999;
    text-align: center;
    background-color: black;
}

.user_info {
    position: relative;
    display: flex;
    width: 20vw;
    float: right;
    color: aliceblue;
}

.name {
    color: aliceblue;
}

.user_info .btn {
    color: aliceblue;
    padding-top: 30px;
}

.user_info p{
    margin: 0 5px;
    padding-top: 30px;
}

nav {
    position: relative;
    display: flex;
    width: 80vw;
    float: left;
}

.brake {
    top: 20px;
    margin-top: 30px;
    float: left;
    color: aliceblue;
}

.title {
    color: gold;
    float: right;
    margin: 10px;
    font-size: 40px;
    font-family: "Comic Sans MS", serif;
}

.link {
    color: aliceblue;
    top: 20px;
    margin: 30px 10px;
    text-decoration: underline;
    float: left;
}

.greeting {
    position: relative;
    margin: 30px;
    top: 100px;
}

footer {
    position: fixed;
    background-color: black;
    color: aliceblue;
    left: 0;
    bottom: 0;
    border-top: 2px solid black ;
    text-align: center;
    width: 100vw;
    height: 80px;
}

.picture {
    width: 100%;
    padding-top: 150px;
    margin: 90px 0;
}

.picture img {
    position: absolute;
    margin-left: 30%;
}

.center {
    margin-top: 90px;
    margin-bottom: 90px;
}

.login {
    width: 20vw;
    height: 200px;
    background-color: cornflowerblue;
    margin: 30px 40vw;
    padding: 20px;
}

.login div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 10vw;
}
